div.IATS_Div {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    border: 9px solid #3a99b4; /* moderate cyan */
    color: #000;
    font-family: helvetica, arial, sans-serif;
    font-size: 100%;
    margin-bottom: 40px;
    padding: 4px;
}

div.IATS_InnerDiv {
    background: pink; /*  #f1f6f6;  light grayish cyan */
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px; /*
  background: url("https://raw.githubusercontent.com/bairds/public/master/SAV_background_720X1200.jpg") no-repeat;
    background-size: auto;
background-size: cover; */
}
body {
 /*background-image: url("https://watergrass-demo-dev-ed--c.documentforce.com/servlet/servlet.ImageServer?id=0150W00000Fir3A&oid=00Dd0000000dg1O&lastMod=1595806941000");*/
 background-color: lightblue;
}
